/* Estilo básico para el texto y el fondo de la página */
body {
    font-family: Arial, sans-serif;
        background: linear-gradient(to right, #dae2f8, #d6a4a4);
    margin: 0;
    padding: 20px;
}

/* Encabezados con color más oscuro para destacar */
h1, h2 {
    color: #333;
}

/* Estilos para los controles, incluidos los botones */
#controls {
    margin-bottom: 20px;
}

button {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Verde oscuro */
}

/* Estilos para las colas y procesos */
#queues {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.queue {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.process {
    padding: 10px;
    margin: 5px 0;
    background-color: #f2f2f2; /* Gris claro */
    border: 1px solid #ddd; /* Borde gris */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para mensajes de estado */
#statusMessages {
    padding: 10px;
    margin-top: 20px;
    color: #d32f2f; /* Rojo oscuro, para mensajes importantes o errores */
}

#prunDisplay, #statusMessages {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#currentProcess, #statusMessages {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

#manualSetup {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
}

#manualSetup h3 {
    color: #333;
}

#manualSetup form {
    display: flex;
    flex-direction: column;
}

#manualSetup label {
    margin-bottom: 5px;
    font-weight: bold;
}

#manualSetup input[type='number'] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;  /* Establecer un ancho fijo para todos los campos numéricos */
}

#manualSetup button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 210px;  /* Alinea el ancho del botón con los campos de entrada */
    align-self: flex-start;  /* Alinea el botón a la izquierda */
}

#manualSetup button:hover {
    background-color: #45a049;
}
